.country-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 2rem;
}


.country-name {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.country-flag {
  width: 200px;
  display: block;
  margin-bottom: 1rem;
}

.borders {
  margin-top: 2rem;
}

.borders-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 0.5rem;
}
